---
import '@fontsource/space-mono';
import '@fontsource/bebas-neue';
import "@fontsource/norwester";

interface Props {
  title: string;
  backgroundUrl: string;
  ogImageUrl: string;
}

const { title, backgroundUrl, ogImageUrl } = Astro.props;

const backgroundUrlStyle = `url(${backgroundUrl})`;

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={title} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:description" content={title} />
    <meta
      property="og:image"
      content={ogImageUrl}
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="480" />
    <meta property="og:url" content="https://mikeshouse.tv" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>{title}</title>
  </head>
  <body>
    <div class="page-container">
        <h1 class="title">Mike's House</h1>
        <slot />
    </div>
  </body>
</html>
<style is:global define:vars={{ backgroundUrlStyle }}>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: 'Bebas Neue';
    text-transform: uppercase;
    font-weight: 400;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    /* color: white; */
  }
  * {
    box-sizing: border-box;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .page-container {
    width: 100vw;
    height: 100vh;
    border: 3px;
    margin: 0;
    padding: 0;
    /* background-image: url("/new_bg.png"); */
    /* animation-duration: 30s;
    animation-name: bg-movement;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(); */
    background-size: 100% 100%;
    overflow: hidden;
    padding: 100px 0;
    margin: 0;
  }

  h1.title {
    font-family: "norwester";
    text-align: center;
    font-size: 3em;
  }

  @media (max-width: 590px) {
    .page-container {
      /* background-position: 500px -200px; */
    }
  }

  @keyframes bg-movement {
    from {
      background-position: -30px -30px;
    }

    25% {
      background-position: -15px -15px;
    }

    50% {
      background-position: 0px -30px;
    }

    75% {
      background-position: -15px -45px;
    }

    to {
      background-position: -30px -30px;
    }
  }
</style>
